.tropCourt {
	display: none;
	background: red;
}

.imgContainer {
	height: 200px;
	width: 140px !important;
}

.avatar {
	height: 100%;
	width: 100%;
}

.personnage {
	display: block;
	padding: 5px;
	border: 2px solid black;
}

html, body {
	background-color: #29293d;
	color: #ffffcc;
}

.preparation {
	margin: auto;
	width: 70%;
}

.preparation .imgContainer {
	border: 2px solid #ffffcc;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.preparation div {
	margin: auto;
	width: 60%;
}

.preparation input[type='checkbox'], .preparation input[type='radio'] {
	margin-left: 30%;
}

.preparation div span {
	margin: auto;  
}